body{background:url('top.jpeg');
     background-position:absolute;
	 }
	 h1{font-family:forte;
    font-weight:bold;
    text-align:center;
    top:5px;
	color:orange;
	word-spacing:10px;}
	 
	